<% group = invite.group %>

<tr class='align-middle'>
  <td><%= group.name %></td>
  <td class='text-center'>
    <%= link_to '承認', group_invite_accepted_invites_path(group, invite),
      data: { 'turbo-method': :post },
      class: 'btn btn-success me-2' 
    %>

    <%= link_to '拒否', group_invite_rejected_invites_path(group, invite),
      data: { 'turbo-method': :post },
      class: 'btn btn-danger' 
    %>
  </td>
</tr>
