<div class='d-flex justify-content-center mb-3'>
  <div>
    <%= link_to '行きたいところ', group_group_users_path(group), class: 'me-5 text-decoration-none' %>
  </div>
  <div>
    <%= link_to 'ユーザー', group_path(group), class: 'text-decoration-none' %>
  </div>
</div>
<hr>
