<div class='justify-content-center d-flex'>
  <div class='mb-4 text-center'>
    <h4 class='mb-3'>マイページ</h4>
    <div class='mb-3'>
      <p class='fw-bolder'>ユーザー名</p>
      <%= current_user.name %>
    </div>
    <div class='mb-3'>
      <p class='fw-bolder'>メールアドレス</p>
      <%= current_user.email %>
    </div>
    <div class='mb-4'>
      <p class='fw-bolder'>ユーザーコード</p>
      <%= current_user.unique_code %>
    </div>
    <%= button_to 'ログアウト',
      destroy_user_session_path,
      data: { turbo: false },
      method: :delete,
      class: 'btn btn-outline-danger'
    %>
  </div>
</div>
