<div class='modal fade' id="place-<%= place.id %>" tabindex='-1' aria-labelledby='modalLabel' aria-hidden='true'>
  <div class='modal-dialog modal-dialog-centered'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='modalLabel'><%= place.name %></h5>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>
      <div class='modal-body'>
        <% if place.url.present? %>
          <%= link_to 'サイトへ', place.url, target: :_blank, class: 'text-decoration-none' %>
          <hr>
        <% end %>
      </div>
    </div>
  </div>
</div>
