<header class='d-flex flex-wrap py-3 mb-3 border-bottom px-5 align-items-center mx-auto w-'>
  <ul class='nav mx-auto mb-0'>
    <li class='nav-item d-flex align-items-center'><%= link_to 'わ', root_path, class: 'text-dark text-decoration-none fs-4 me-5' %></li>
    <li class='nav-item d-flex align-items-center'><%= link_to 'グループ', root_path, class: 'nav-link' %></li>
    <li class='nav-item d-flex align-items-center'><%= link_to '招待', invites_path, class: 'nav-link' %></li>
  </ul>
</header>
