<header class='d-flex flex-column border-bottom ps-3 pb-3 mb-4 mt-3'>
  <div class='mb-3'>
    <%= link_to root_path do %>
      <%= image_tag 'logo.svg' %>
    <% end %>
  </div>
  <div class='d-flex ms-2'>
    <%= link_to 'グループ', root_path, class: "#{ class_names('me-5 text-decoration-none', 'text-primary' => current_page?(root_path), 'text-body' => !current_page?(root_path)) }" %>
    <%= link_to '招待', invites_path, class: "#{ class_names('text-decoration-none', 'text-primary' => current_page?(invites_path), 'text-body' => !current_page?(invites_path)) }" %>
  </div>
</header>
